[client]
port=3306
socket=/var/run/mysqld/mysqld.sock

[mysqld_safe]
socket=/var/run/mysqld/mysqld.sock

[mysqld]
user=mysql
pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock
port=3306
basedir=/usr
datadir=/var/lib/mysql
tmpdir=/tmp
lc-messages-dir=/usr/share/mysql
log_error=/var/log/mysql/error.log

symbolic-links=0

skip-networking
skip_external_locking
skip_name_resolve
bind-address=127.0.0.1

skip-external-locking
key_buffer_size=256M
max_allowed_packet=256M
table_open_cache=8192
sort_buffer_size=2M
read_buffer_size=2M
read_rnd_buffer_size=4M
myisam_sort_buffer_size=64M
join_buffer_size=2M
thread_cache_size=8
query_cache_size= 16M
thread_concurrency=8

max_heap_table_size=256M
tmp_table_size=256M

#innodb_use_native_aio=0
innodb_file_per_table
innodb_buffer_pool_size=2G
innodb_buffer_pool_instances=2
innodb_log_file_size=512M
innodb_flush_log_at_trx_commit=1
innodb_flush_method=O_DIRECT

max_connections=200
max_user_connections=50
wait_timeout=60
interactive_timeout=60
long_query_time=5

!includedir /etc/mysql/conf.d/